{
    "ACCESS_API": "https://accessapi.staging.churchapps.org",
    "ATTENDANCE_API": "https://attendanceapi.staging.churchapps.org",
    "GIVING_API": "https://givingapi.staging.churchapps.org",
    "MEMBERSHIP_API": "https://membershipapi.staging.churchapps.org",
    "appName": "CHUMS"
}