#For staging
{
    "ACCESS_API": "https://accessapi.staging.churchapps.org",
    "ATTENDANCE_API": "https://attendanceapi.staging.churchapps.org",
    "GIVING_API": "https://givingapi.staging.churchapps.org",
    "MEMBERSHIP_API": "https://membershipapi.staging.churchapps.org",
    "CHURCH_WEB_APPS_URL": "https://staging.churchapps.org"
}

#For localhost
{
    "ACCESS_API": "http://localhost:8082",
    "ATTENDANCE_API": "http://localhost:8085",
    "GIVING_API": "http://localhost:8084",
    "MEMBERSHIP_API": "http://localhost:8083",
    "CHURCH_WEB_APPS_URL": "http://localhost:3401"
}